body {
  display: grid;
  grid-template-areas:
    "nav header header"
    "nav article ads"
    "nav footer footer";
  grid-template-rows: 80px 1fr 70px;
  grid-template-columns: 220px 1059px 242px;
  grid-row-gap: 20px;
  grid-column-gap: 43px;
  height: 100vh;
  margin: 0;
}

/* Variables */
:root {
  --title-orange: #ed7839;
  --title-resume-box: #4e4e4e;
  --title-resume-txt: #5c5c5c;
  --background-orange: #ed7839;
  --background-sidemenu: #fdf1eb;
  --header-color: #fdf1eb;
  --sidemenu-color: #725c5c;
  --content-color: #4d4d4d4d;
  --sidemenu-color-gradient: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
  --border-shadow: #e7e7e7;
  --background-color: #ffff;
  /*fonts */
  --title-font: "Roboto", sans-serif;
  --body-font: "Roboto", sans-serif;
  --title-font-side: "Quicksand", sans-serif;
}

/* Grid areas */
#pageHeader {
  grid-area: header;
}
#pageFooter {
  grid-area: footer;
}
#mainArticle {
  grid-area: article;
}
#mainNav {
  grid-area: nav;
}
#siteAds {
  grid-area: ads;
}

/* Left Side menu */
.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--sidemenu-color-gradient);
  box-shadow: 0 0 5px #9fa7a1;
  height: 68px;
  font: 700 1.875rem var(--title-font);
  color: var(--header-color);

  width: 220px;
}

.logo {
  display: flex;

  font: 700 1.875rem var(--title-font);
  color: var(--background-color);

  margin: 0;
  justify-content: center;
}

.side-menu-nav {
  border-right: 2px solid #e7e7e7;
  box-shadow: 1px -3px 8px 1px #c4c0c0;
}

.side-menu-nav a {
  display: flex;
  width: 13.75rem;
  height: 2.188rem;

  text-decoration: none;
  list-style: none;

  padding: 0.625rem;
  padding-left: 1.5rem;
  background: var(--background-color);
  font: 500 1rem var(--title-font-side);
  color: var(--sidemenu-color);
  border-bottom: 1px solid rgb(209, 209, 209);
}

nav a:hover {
  background-color: var(--background-sidemenu);
  border-left: 0.5rem solid;
  border-left-color: rgb(241, 132, 62);
}

/* Header */
.header {
  display: flex;

  height: 4.25rem;
  background-color: var(--header-color);

  font: 400 var(--title-font);
  align-items: center;
  justify-content: space-around;
}

.header span {
  color: var(--sidemenu-color);
}

.header-titles {
  display: flex;
  flex-direction: column;
  margin-left: -50px;
}

.header-titles span{
  font-family: var(--title-font);
  font-weight: 400;
  color: #725C5C;
}

.header-title1 {
  font-size: 14px;

}

.header-title2 {
  font-size: 22px;
}

.header-title3 {
  font-size: 14px;
}

/* Header language */
.header-language {
  display: flex;
  align-items: center;

  border: 1px solid #cccc;
  border-radius: 3px;
  box-sizing: border-box;

  padding: 5px;
  margin-left: 50px;
}

.header-language span {
  border: none;
  outline: 0;
  padding-top: 3px;
  background: var(--background-sidemenu);
  align-items: stretch;
}

/* Header user*/
.header-user {
  display: flex;
}

.header-user-info {
  display: flex;
  flex-direction: row;

  font: 400 0.75rem var(--title-font);

  align-items: flex-end;
}

.header-user-info p {
  display: flex;
}

.header-user-profile img {
  border-radius: 50%;
  margin-left: 10px;
  padding-top: 2px;
}

.header-user-profile span {
  bottom: 25px;
  right: 15px;
  position: relative;

  font-size: 10px;
  color: white;
  background-color: #f85959;

  padding: 1px 5px;
  border-radius: 10px;
}
/* Right Sidebar box icons*/
.btn-right-side {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-between;

  align-items: center;
  align-content: space-around;
}

/* Right sidebar icons */
.download-btn-icon {
  display: flex;
  padding: 6px;
}

.download-btn-txt {
  display: flex;

  padding: 6px 5px;

  font: 500 16px var(--title-font);
  color: white;
}

.download-btn {
  display: flex;

  align-self: center;

  width: 120px;
  height: 31px;

  background: var(--background-orange);
  border-style: none;
  border-radius: 4px;
}

.favorite-btn {
  display: flex;

  width: 43px;
  height: 31px;

  background: var(--background-orange);
  border-style: none;
  border-radius: 4px;
}

.favorite-icon {
  display: flex;

  align-self: center;

  padding: 5px;
}

.doi-btn {
  display: flex;

  width: 43px;
  height: 31px;

  background: var(--background-orange);
  border-style: none;
  border-radius: 4px;
}

.doi-icon {
  display: flex;

  align-self: center;

  padding: 5px;
}

.quote-txt {
  display: flex;
  flex-direction: row;

  align-content: center;
  justify-content: center;

  align-items: center;

  padding-top: 10px;

  font: 500 14px var(--title-font);
  line-height: 25px;
  color: var(--background-orange);
}

/* Right sidebar content*/
.right-box {
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 3px;

  overflow-y: scroll;

  height: 439px;
}

/* Scrollbar sidebar content */
::-webkit-scrollbar {
  background: linear-gradient(13deg, #bfbfbf 16%, #bfbfbf 60%);
  border-radius: 5px;

  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.details {
  display: flex;
  background: var(--background-sidemenu);

  padding: 10px 15px;
  border: 1px solid #ececec;
  border-bottom: none;
}

.details-header {
  color: var(--title-resume-box);
  font: 500 20px var(--title-font);

  line-height: 25px;
}

.top-header-details,
.authors,
.institutes {
  padding-left: 15px;
  font-family: var(--title-font-side);
}

.top-header-details,
.authors {
  font-size: 14px;
}

.institutes {
  font-size: 12px;
  color: #5c5c5c;
}

strong {
  color: #5c5c5c;
}

/* Main content */
.main-title {
  display: flex;
}

.txt-main {
  font: 900 20px var(--title-font);
  color: var(--background-orange);

  line-height: 25px;
  letter-spacing: 0.05em;
}
/* Resume content */
.resume {
  width: 1058px;
  margin-top: 30px;
  min-height: 30px;

  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 3px 3px;
}

.resume-header {
  width: 1058px;
  height: 45px;

  background: var(--background-sidemenu);

  border: 1px solid #ececec;
  border-radius: 3px 3px 0px 0px;
  box-sizing: border-box;
}

.resume-title {
  display: flex;

  padding: 8px 9px;
  align-items: center;

  font: 500 20px var(--title-font);
  color: var(--title-resume-box);
  line-height: 25px;
}

.resume-txt {
  padding: 5px 10px;

  font: 400 14px var(--title-font-side);
  color: var(--title-resume-txt);
}

/* Button open resume */
.open-resume {
  color: var(--background-orange);
  font-weight: 700;

  cursor: pointer;
}

.hidden-resume {
  display: none;
}

/* Discussion content */
.discussion {
  width: 1058px;
  margin-top: 30px;
  min-height: 30px;

  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 3px 3px;
}

.discussion-header {
  width: 1058px;
  height: 45px;

  background: var(--background-sidemenu);

  border: 1px solid #ececec;
  border-radius: 3px 3px 0px 0px;
  box-sizing: border-box;
}

.discussion-title {
  display: flex;

  padding: 8px 9px;
  align-items: center;

  font: 500 20px var(--title-font);
  color: var(--title-resume-box);
  line-height: 25px;
}

.discussion-subtitle {
  display: flex;
  margin-top: 15px;

  justify-content: center;

  font: 700 18px var(--title-font);
  color: var(--title-orange);
}

.btn-discussion {
  display: flex;

  justify-content: center;
}

.btn-discussion i {
  padding: 20px;
}

.discussion .discussion-txt {
  display: flex;

  justify-content: center;

  font: 400 14px var(--title-font-side);
  color: #595959;
  line-height: 19px;
}

.btn-topic {
  display: flex;

  width: 133px;
  height: 32px;

  justify-content: center;
  align-items: center;
  margin-left: 450px;

  background: var(--sidemenu-color-gradient);

  font: 700 15px var(--title-font-side);
  color: white;

  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

/* Discussion sub-box */
.question1,
.question2 {
  display: flex;

  flex-direction: column;
  align-items: flex-start;

  margin: 15px 15px;
  width: 1028px;
  padding: 10px;

  background: #ffffff;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.question-subject {
  font: 700 16px var(--title-font-side);
  color: var(--background-orange);

  line-height: 20px;

  padding: 0px 5px;
}

.question-author {
  font: 500 12px var(--title-font);
  color: var(--title-resume-txt);

  padding: 0px 5px;
  margin-top: -20px;
}

.question-txt {
  font: 400 14px var(--title-font-side);

  color: #4d4d4d;

  padding: 0px 5px;
}

.question-footer {
  display: flex;

  align-items: center;
}

.question-footer i,
.question-footer span {
  padding: 5px;
  font-family: "Segoe UI", sans-serif;
  font-weight: 350;
  font-size: 14px;
  color: #757575;
}

/* Footer */
footer {
  height: 170px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* small devices/viewports. */
@media all and (max-width: 575px) {
  body {
    grid-template-areas:
      "header"
      "article"
      "ads"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;
    grid-template-columns: 1fr;
  }
}
